/*=========== red ===========*/
.main-menu ul.navbar-nav li.active a.theme-color{
    color: #DC143C;
}
.custom-navbar.top-nav-collapse .main-menu ul.nav.navbar-nav li.active a.theme-color{
    color: #DC143C;
   
}
.btn.theme-color, a.btn.theme-color{
    background: #DC143C;
    color: #fff;
}
.btn.theme-color.btn-effect.disabled:hover {
    color: #fff;
}

/*=========== end red ===========*/